html {
  background: url(https://img.freepik.com/free-vector/vintage-clocks-pattern_1085-156.jpg?size=338&ext=jpg);
}

.clock {
  border: 25px solid #ff1a8c;
  border-radius: 50%;
  width: 30rem;
  height: 30rem;
  margin: 60px auto;
  background-color: white;
  padding: 2rem;
  /* box-shadow: inset 0 0 10px 15px rgba(204, 204, 204, 0.4); */
}
