html {
  background: url(https://img.freepik.com/free-vector/vintage-clocks-pattern_1085-156.jpg?size=338&ext=jpg);
}

.clock {
  border: 25px solid #ff1a8c;
  border-radius: 50%;
  width: 30rem;
  height: 30rem;
  margin: 50px auto;
  background-color: white;
  padding: 2rem;
  position: relative;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
}

.circle {
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  background-color: black;
  border-radius: 50%;
  top: 48%;
  margin: 0 222px;
}

.hand {
  top: 50%;
  position: absolute;
  border-radius: 5px;
  background: black;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s; */
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand {
  width: 40%;
  height: 10px;
  margin: 0 48px;
}

.min-hand {
  width: 50%;
  height: 10px;
}

.second-hand {
  width: 50%;
  height: 5px;
}
